.mirror {
  height: 450px;
  margin-inline-end: 5px;
}

.Ext-Card {
  height: 275px;
  overflow-y: scroll;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  font-weight: bolder;
  font-style: italic;
}

.appendingCard {
  padding-left: 15px;
}

.appendingCard .card {
  margin: 15px;
}
.recipe-img {
  object-fit: cover;
}
